{% extends "calc/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="/static/style/arch-month.css">
{% endblock %}


{% block body %}


<h1>For the Month of: {{month}}</h1>
<div class="item-container">
<table style="width:80%" id="table">
    <tr>
      <th>Name</th>
      <th>Membership</th>
      <th>Reserved</th>
      <th>Date of Arrival</th>
      <th>Amenities</th>
      <th>Date</th>
    </tr>
    {% for d in data %}
        {% if d.reserved != '0' %}
            <tr id="lines">
                <td><p>{{d.today_date}}</p></td>
                <td >{{d.amenity_code}}</td>
                <td class="reserved">{{d.reserved}}</td>
                <td>{{d.arrival_date}}</td>  
                <td class="amenities">{{d.fruit_amenity}},<br>{{ d.dessert_amenity}},<br>{{d.dessert_amenity1}}</td>  
                <td>{{d.input_date}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr>
      <td>February</td>
      <td style="text-align:right">$80</td>
    </tr>
  </table>
</div>
<h1 class="logo"><a href="{% url 'calc:total' month %}">Go to totals</a></h1>

{% endblock %}
{% block static %}
<script src="{% static 'js/arch-month.js' %}"></script>
{% endblock %}