{% extends "calc/base.html" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="/static/style/daily-addson.css">
{% endblock %}

{% block body %}
<a href="{% url 'calc:update_daily' %}">Return to Daily</a>

<div id="form-container" class="form-container">
    <form method="post" action="{% url 'calc:update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Update CSV</button>
    </form>
</div>
{% endblock%}

{% block static %}
<script src="{% static 'js/daily-addson.js' %}"></script>
{% endblock %}