{% extends "calc/base.html" %}
{% block style %}
<style>
    body{
        background-color: rgb(207, 203, 190);
        
       
    }

    .body-container {
    margin-top: -80px;;
    }
    p{
        margin-bottom: 20px;
    }
    .form-container{
        width: 80%;
        margin-left: 10%;
        
    }
    .form{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background-color: rgb(207, 199, 175);
        padding: 15px;
        box-shadow: 2px 3px 15px rgba(0.1, 0.3, 02, 1);
    }
    #btn{
        width: 60%;
        height: 2rem;
        background-color: rgb(156, 156, 252);
        color: #fff;
        border-radius: 2px;
        border: none;
    }
    #btn:hover{
        background-color: rgb(88, 88, 241);
    }
    #btn:active{
        transform: scale(-92%);
    }
    input:focus{
        outline: none;
        
    }

    label[for="id_num_fruit"]{
        display: none;
        font-size: xx-small;
    }

    label{
        position: absolute;
        left: 10px;
       
    }
    input:focus ~ label {
    color:red;
    }

    label[for="id_num_fruit"]{
        display: none;
        font-size: xx-small;
    }
    #id_num_of_fruits{
        margin-top: 20%;
    }
    .holder{
        margin-left: 15%;
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        background-color: rgb(207, 199, 175);
        padding: 15px;
        box-shadow: 2px 3px 15px rgba(0.1, 0.3, 02, 1);
    }
    .todayAm{
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: row;
        margin-bottom: 1%;
        margin-left: 21%;

    }

   .todayAm .btnLink{
        width: 100%;
        margin-left: 3px;
        text-align: center;
        margin-bottom: 2px;
        border-radius: 50% 20% / 10% 40%;
        border: #000 20px;
        background-color: rgb(121, 139, 139);
    }
    .todayAm .btnLink a {
        color: #fff;
        margin-top: 10rem
    }
    .todayAm .btnLink a:hover {
        text-decoration: none;
    }
    #upload{
        display: flex;
        flex-direction: column;
        margin: 12px;
        margin-top: 2px;
    }
    #upload button{
        margin-top: 5px;
        border-radius: 5px;
        border: none;
        background-color: #ec6161;
    }
    #upload button:hover{
        background-color: rgb(105, 137, 228);
    }
    #upload button:active{
        transform: scale(-92%);
    }
    #upload button:focus{
        outline: none;
        
    }
    .archive{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        margin-left: 3rem;
       
    }
    .archive li{
       list-style-type: none;
       margin-left: 3px;
       border:  1px solid #9b9696;
       width: auto;
       padding: 4px;
       text-decoration: none;
       box-shadow: 3px 3px rgb(177, 111, 111), -1em 0 .4em olive;
    }
    .archive li:hover{
        text-decoration: none;
    }
    .spacial{
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: row;
        margin-bottom: 2%;
        margin-left: 21%;
    }
    .spacial a{
        margin-left: 4rem;
        border:2px solid #474141;
        border-radius: 10px 100px / 120px;   
        padding: 10px;
        color: #000;   
        box-shadow: 3px 3px #474141, -1em 0 .4em olive;  
    }
    .spacial a:hover{
        background-color: #797171;
        color: #fff;
        text-decoration: none;
    }
    #msg{
        margin-left: 40%;
        color: #ec6161;
        text-shadow:2px 2px #000;
    }
    #greeting{
        margin-left: 40%;
        color: #af8ddb;
        text-shadow:2px 2px #000;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 600px){
        
        body{
        background-color: rgb(207, 203, 190);
        overflow-y: scroll;
        }

        .body-container {
            margin-top: 10%;
            overflow: none;
           /* scrollbar-color: red orange;
            scrollbar-width: thin;*/

            
        }
        .archive{
            display: flex;
            flex-direction: column;
            align-items: center;
          
            width: 85%;
            margin-left: 3rem;
        
        }
        .archive li{
        list-style-type: none;
        margin-left: 3px;
        margin-top: 6px;
        border:  1px solid #9b9696;
        width: 40%;
        padding: 4px;
        text-decoration: none;
        box-shadow: 3px 3px rgb(177, 111, 111), -1em 0 .4em olive;
        text-align: center;
        }
        .archive li:hover{
            text-decoration: none;
        }
        #greeting{
        margin-left: 30%;
        color: #af8ddb;
        text-shadow:2px 2px #000;
        margin-bottom: 20px;
        }
        .spacial{
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: row;
        margin-bottom: 2%;
        margin-left: 11%;
        }
        .spacial a{
            margin-left: 4rem;
            border:2px solid #474141;
            border-radius: 10px 100px / 120px;   
            padding: 10px;
            color: #000;
            box-shadow: 3px 3px #474141, -1em 0 .4em olive;     
        }
        .spacial a:hover{
            background-color: #797171;
            color: #fff;
            text-decoration: none;
        }

    }

</style>

{% endblock%}

{% block body %}

{% if not request.user.is_authenticated %}
    <div id="msg"><h1>{{msg}}</h1></div>
{% else %}
    
    <div id="greeting"><h1>Hello:  {{user}}</h1></div>
<div class="spacial" id="spec">
    <a href="{% url 'calc:special' %}">Input Special Amenity</a>
    <a href="{% url 'calc:update' %}"><h6>Update Amenitie List</h6></a><br>
</div>
<div class="todayAm">
    <button class="btnLink"> <a href="{% url 'calc:update_daily' %}"><h6>Today Amenitie</h6></a></button>
    <button class="btnLink"><a href="{% url 'calc:tomorrow_amenities' %}"><h6>Tomorrow Amenitie</h6></a></button>
    <button class="btnLink"><a href="{% url 'calc:day_after' %}"><h6>Day After Amenitie</h6></a></button>
</div>
<div class="holder">
    <div class="form-container" >
        <form id="upload" method="post" action="{% url 'calc:upload_csv' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form1.as_p }}
            <button type="submit">Upload CSV</button>
           
        </form>

    </div>
    <div class="form-container" >
        <h3>Replanisment</h3>
        <div class="form">
            <form action="{% url 'calc:index' %}" method="post" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                <!--<input type="date" name="day" id="weekDay">-->
                <input type="number" name="amount" id="amound" min="0" max="100">
                <input type="submit" value="Submit" id="btn">
            </form>
        </div>
    </div>
</div>

<output id="output"></output>
<div class="archive" id="archive">
    <li><a href="{% url 'calc:month' 'January' %}">January</a></li>
    <li><a href="{% url 'calc:month'  'February' %}">February</a></li>
    <li><a href="{% url 'calc:month' 'March' %}">March</a></li>
    <li><a href="{% url 'calc:month' 'April' %}">April</a></li>
    <li><a href="{% url 'calc:month' 'May' %}">May</a></li>
    <li><a href="{% url 'calc:month' 'June' %}">June</a></li>
    <li><a href="{% url 'calc:month' 'July' %}">July</a></li>
    <li><a href="{% url 'calc:month' 'August' %}">August</a></li>
    <li><a href="{% url 'calc:month' 'September' %}">September</a></li>
    <li><a href="{% url 'calc:month'  'Octomber' %}">Octomber</a></li>
    <li><a href="{% url 'calc:month'  'November' %}">November</a></li>
    <li><a href="{% url 'calc:month' 'December' %}">December</a></li>
</div>
{% endif %}
<script>

const JSON_data = ('/code_API')
    console.log(JSON_data)
    GetData(JSON_data)
    
    async function GetData(url) {
        const res = await fetch(url)
        const data = await res.json()
        console.log(data)
    }


    const BtnEl = document.getElementById('btn1')
    const formData = document.getElementById('form')
    const NewForm = new FormData(formData)
    const labelEls = document.getElementsByTagName("label")
    const inputEls = document.getElementsByTagName("input")
    const choiceEls = document.getElementsByTagName("select")
    const pEls = document.getElementsByTagName('p')
    const MonthEl = document.getElementById('id_month')
    const FormEl = document.getElementsByTagName('form')
    console.log(FormEl)

    
    const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    const m = new Date()
    let currant_m = month[m.getMonth()]
    console.log(currant_m)


console.log(pEls)
    const output = document.getElementById('output');

    BtnEl.addEventListener("click", ()=>  {
        //console.log(123)
        for (const [key, value] of NewForm) {
        output.textContent += `${key}: ${value}\n`;
        }
    })

   for (let l = 0; l < labelEls.length; l++){
     //console.log(labelEls[l].innerHTML)
     if(labelEls[l].innerHTML == "Num of fruit:" || labelEls[l].innerHTML == "Num of drink:" || labelEls[l].innerHTML == "Num of dessert:" ){
        labelEls[l].style.display = "none"
     }
   }

   for(let i = 0; i < inputEls.length; i++){
        
        for(let c = 0; c < choiceEls.length; c++){
            //console.log(choiceEls[c].name)
            if(inputEls[i].name == "num_of_fruit" || inputEls[i].name == "num_of_drink" || inputEls[i].name == "num_of_dessert"){
            inputEls[i].style.width = "35px"
            inputEls[i].style.marginRight = "20%"
            inputEls[i].max = 10
            inputEls[i].min = 0
            choiceEls[c].style.marginLeft = "16%"

            //const divEl = document.createElement('div')



            //formData.appendChild(divEl)
        
        }

        }

   }
   let div = []
   for (let p = 0; p < pEls.length; p++){
    //console.log(pEls[p].childNodes)
    pEls[p].childNodes.forEach(e => {
        //console.log(e.name)
        
        if(e.name == "num_of_fruit" || e.name == "fruit_amenity"){
            div.push(e)
            //console.log(123)
        }
        
    })
    
   }
//console.log(div)





MonthEl.value = currant_m
//MonthEl.disabled = true     

</script>

{% endblock %}