{% extends "calc/base.html" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="/static/style/total.css">
{% endblock %}

{% block body %}


<div class="month" >
  <h2>For Month of <p id="month">{{month}}</p></h2>
</div>








<table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Membership</th>
      <th>VIP Level</th>
      <th>Date of Arrival</th>
      <th>Amenities</th>
      <th>Date</th>
    </tr>
    {% for d in data %}
    <tr>
      <td><p>{{d.name}}</p></td>
      <td >{{d.membership}}</td>
      <td>{{d.vip_level}}</td>
      <td>{{d.date}}</td>
      <td class="amenities">{{d.fruit_amenity}}, {{ d.drink_amenity}}, {{d.dessert_amenity}}</td>
      <td>{{d.arrival_date}}</td>
    </tr>
    {% endfor %}
    <tr>
        {% if uptodate %}
        {% for data in uptodate %}
        <tr>
          <td><p>{{data.name}}</p></td>
          <td >{{data.membership}}</td>
          <td>{{data.vip_level}}</td>
          <td>{{data.date}}</td>
          <td class="amenities">{{data.fruit_amenity}}, {{ data.drink_amenity}}, {{d.dessert_amenity}}</td>
          <td>{{data.arrival_date}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
      <td>February</td>
      <td style="text-align:right">$80</td>
    </tr>
  </table>

  

  <div class="total">
    <ul id="total">
        <li></li>
    </ul>
</div>


{% endblock %}
{% block static %}
<script src="{% static 'js/total1.js' %}"></script>
{% endblock %}